.home {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 90vw; */
}

.add-area {
  display: flex;
  min-height: 100px;
}
.list-items {
  min-height: 100px;
}
